* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  min-height: 100vh;
  font-family: Stardos Stencil;
  font-size: 0.938rem;
}
html {
  scroll-snap-type: y proximity;
}
.crveno {
  color: #c7363d;
  text-shadow: 2px 2px 4px black;
  font-size: 1.2rem;
}
.plavo {
  color: #0c4077;
  text-shadow: 2px 2px 4px black;
  font-size: 1.2rem;
}
.belo {
  color: #fff;
  text-shadow: 2px 2px 4px black;
  font-size: 1.2rem;
}
.slika-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 450px;
  scroll-snap-align: start;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  animation: appear 3s ease;
}
.intro {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  width: 800px;
  height: 450px;
  position: relative;
  margin: 50px;
  padding: 50px;
  border-radius: 70px;
}
.controller {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.video:hover .controller {
  opacity: 0.8;
  z-index: 101;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d9d9d9;
}
.tekst-o-nama {
  font-family: Stardos Stencil;
  font-weight: 500;
  margin: 50px;
  padding: 50px;
  font-size: 30px;
  text-indent: 50px;
  box-shadow: 3px 3px 6px black;
  border-radius: 20px;
  background-color: white;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
.play-button::before,
.play-button::after {
  content: "";
  position: absolute;
  top: 36px;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: #fff;
  border-style: solid;
  transition: all 0.2s linear;
}
.play-button::before {
  right: 44px;
  height: 72px;
  border-width: 0 0 0 16px;
}
.play-button.play::before {
  right: 36px;
  height: 34px;
  border-width: 14px 0 14px 28px;
}
.play-button::after {
  left: 44px;
  height: 72px;
  border-width: 0 0 0 16px;
}
.play-button.play::after {
  left: 36px;
  height: 0;
  border-width: 17px 0 17px 32px;
}
